@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    /* font-family: 'Poppins', sans-serif !important; */
   	background-color: #4474ee !important;
}

.nav-link {
    display: block;
    margin: 10px;
    border: none;
    border-radius: 4px;
    padding: .5rem 1rem;
    background-color: #1e356e;
    color: #fff9f9 !important;
    text-decoration: none;
	text-align: center;
	width: 100px !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 500px;
	margin: 5px;
  }

.post-image {
    width: 600px;
    height: 600px;
  }
  
.post-container{
	background-color: #b5e40c;
}