@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Nunito Sans', sans-serif;
    }
    
    body {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(308deg, #e729b4fe, #4346f2);
        
    }
    
    form {
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        border-radius: 30px;
        border-left: 1px solid rgba(255, 255, 255, .3);
        border-top: 1px solid rgba(255, 255, 255, .3);
        width: 25rem;
        height: 28rem;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.06)
        
    }
    
    h3 {
        font-size: 50px;
        text-align: center;
        text-shadow: 2px 2px rgba(40, 39, 39, .2);
        color: white;
        margin-bottom: 5%;
        opacity: .8;
    }
    
    label {
        font-size: 20px;
        color: rgb(255, 255, 255);
        margin-left: 8%;
        text-shadow: 2px 2px rgba(40, 39, 39, .2);
        opacity: .8;
    }
    .singup_link{
        font-size: 20px;
        color: rgb(0, 0, 0);
        margin-left: 8%;
        text-shadow: 2px 2px rgba(40, 39, 39, .2);
        opacity: .5;
        text-decoration: none;
        width: 20%;
        border-radius: 11px;
        border: 1px solid;
        font-family: 'Open Sans', sans-serif;
        font-style:inherit ;
    }

    .singup_link:hover{
        animation: glowing 500ms infinite;
        color: #000000 !important;
    }
    @keyframes glowing {
       
        50% {
          background-color: #06c9fa7a;
          box-shadow: 0 0 20px #ed02f52f;
        }
       
      }
    .form-control {
        width: 80%;
        margin: 8% 8%;
        border: none;
        outline: none;
        background: transparent;
        color: rgba(255, 255, 255, 0.787);
        border-bottom: 2px solid rgba(255, 255, 255, .3);
        opacity: .9 !important; 
    
    }
    
    .login {
        opacity: .8;
        width: 50%;
        margin: 3% auto;
        color: white;
        font-size: 15px;
        background: rgba(255, 255, 255, .3);
        padding: 10px 30px;
        border: none;
        border-radius: 25px;
        text-shadow: 2px 2px rgba(40, 39, 39, .2);
    
    }
    
    .login:hover {
        box-shadow: 3px 3px 5px rgba(135, 31, 31, 0.37);
    }
    
    .navbar-contatiner {
        opacity: 10;
        width: auto;
        height: 85px;
        background-color: rgb(153, 59, 103);
        top: 0;
        right: 55%;
        position: absolute;
        
    }
    .container-fluid {
       
        align-items: center;
        padding: 0px 50px;
      
        height: 85px;
        overflow: hidden;
       
        flex: none;

        
    }
   
    .bg-light {
        background-color: transparent !important;
        /* width: 19%; */
        flex: none !important;
        /* top: -10%; */
        right: 20%;
        bottom: 45%;
        
    }
    .navbar-brand{
        background-color: #000000;
        color: rgb(255, 255, 255) !important;
        border-radius: 11px;
    }