<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style type="stylesheet"  src="{{ url_for('ststic'),filenmae='style.css' }}"></style>
</head>

<body>

    <!-- {% include "base.html" %} {% block title %} Login {% endblock %}
 {% block content%} -->
    <form class="form1" method="post">

        <h3> Login</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email"  />
        </div>
        

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password1" name="password1"  />

        </div>

        <br>
        <button type="submit" class="btn btn-primary">Login</button>

        



    </form>
    <!-- {% endblock %} -->
</body>

</html>