{% extends "base.html" %} {% block title%} Admin{%endblock%} {% block content %}



<div class="shadow p-3 mb-5 bg-body rounded">
  <form class="d-flex" method="post" action="{{url_for('views.search')}}">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
    />
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </form>
  <a class="btn btn-warning" href="{{url_for('auth.sing_up')}}">Adduser</a>
  <a class="btn btn-warning" href="{{url_for('views.admin_details')}}">change details</a>
  <a class="btn btn-danger" href="{{url_for('views.logout_admin')}}">Logout</a>
  
</div>

<table class="table table-dark table-striped">
  <tr>
    <th>id</th>
    <th>UserName</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Name</th>
    <th>EditUser</th>
    <th>DeleteUser</th>
    {%if current_user.id ==1%}
    <th>Add Admin</th>
    {%endif%}
  </tr>
  {% for user in user %}

  <tr>
    <td>{{user.id}}</td>
    <td>{{user.user_name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.name}}</td>
    <td>
      {% if current_user.id == 1%}
      <div>
        <a
          class="btn btn-warning"
          href="{{url_for('views.edit_user',id=user.id)}}"
          >Edit</a
        >
      </div>
      {% elif user.id != 1 %}
      <div>
        <a
          class="btn btn-warning"
          href="{{url_for('views.edit_user',id=user.id)}}"
          >Edit</a
        >
      </div>
      {%else%}
      <strong>You con't Edit this ID</strong>
      {% endif %}
    </td>
    <td>
      {% if user.id == 1%}
      <strong>You con't delete this ID</strong>
      {% else %}
      <div>
        <button
          type="button"
          class="btn btn-danger"
          onClick="deleteUser ( {{ user.id }} )"
        >
          Delete
        </button>
      </div>

      {% endif %}
    </td>
    {%if current_user.id==1%}
    <td>
      
      
      {%if user.admin==True%}
        <button
          type="button"
          class="btn btn-warning"
          onClick="removeAdmin ( {{user.id }} )"
        >
          Remove Admin
        </button>
        {%else%}<button
        type="button"
        class="btn btn-warning"
        onClick="add_Admin ( {{ user.id }} )"
      >
        Add Admin
      </button>
      {% endif %}
        
      </td>
      {%endif%}
  
  </tr>

  {%endfor%}
</table>


<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/admin.js') }}"
></script>

{%endblock%}
