{% extends "base.html" %} {% block title%} Admin{%endblock%} {% block content %}

<h1>Hello.. Admin</h1>
<div class="shadow p-3 mb-5 bg-body rounded">
  <form class="d-flex" method="post" action="{{url_for('views.search')}}">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
    />
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </form>
</div>


<table class="table table-dark table-striped">
 
  <tr>
    <td>id</td>
    <td>UserName</td>
    <td>Email</td>
    <td>Name</td>
    <td>Deleteuser</td>
    {% if session["user_id"] == 1%}
    <td>Add Admin</td>
    {% endif %}
  </tr>
  {% for user in user %}
  <tr>
    
    <td>{{user.id}}</td>
    <td>{{user.user_name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.name}}</td>
    <td> {% if user.admin == True%}
      <strong>You con't delete this ID</strong>
      {% else %}
      <div>

        <button
        type="button"
        class="btn-add"
        onClick="deleteUser ( {{ user.id }} )"
      >
      Delete

      </button>
      </div>

      {% endif %}
</td>
{%if current_user.id == 1%}
<td>
  {% if session["user_id"] == 1%}
  {% if user.admin == True%}
  <strong>Admin</strong>
      {% else %}
      <button
    type="button"
    class="btn-Add"
    onClick="add_Admin ( {{ user.id }} )"
  >
    Add Admin
  </button>
  {%endif%}
  
  {% endif %}
</td>
{%endif%}
    
  </tr>
  {%endfor%}
</table>








<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/admin_del.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/Add_Admin.js') }}"
></script>

{%endblock%}
