<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/Default/logo.png" />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>{% block title %} {% endblock %}</title>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wdth,wght@120.8,100&display=swap" rel="stylesheet"> 




  {% endblock %}

</head>


<body>
  {% block body %}

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Project Name</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

          <div class="navbar-nav">
            {% if "user_id" in session %}
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" id="profile" href="{{url_for('views.my_post')}}">My posts</a>
            <a class="nav-link" href="{{url_for('views.createpost')}}">Createpost</a>
            <a class="nav-link" href="{{url_for('views.profile')}}">Profile</a>
            
            <a class=" nav-link" id="logout" href="{{url_for('auth.logout')}}">Logout</a>


           
            {%if current_user.admin  == True or current_user.id == 1 %}
                <a class="nav-link" id="profile" href="{{url_for('views.admin')}}">Admin</a>
             
              {% endif %}
              {%if current_user.admin == True  or current_user.id==1%}
              <a class="nav-link" id="profile" href="{{url_for('views.admin_login')}}">Admin_login</a>
          
            {% endif %}
            

            {% else %}
            <a class="nav-link" id="login" href="{{url_for('auth.login')}}">Login</a>
            <a class="nav-link" id="signUp" href="{{url_for('auth.sing_up')}}">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
   

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </button>
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->









    <div>{% block content %}

      {% endblock %}</div>


    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/del.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/like.js') }}"></script>



  </body>

</html>