{% extends "base.html" %} {% block title %} Createpost {% endblock %} {% block
    content%} 
    {% if "user_id" in session %}
    <h1>Hello {{session["user_id"]}}</h1>
    
    
    {% endif %} {% if "user_name" in session %}
    <h1>Hello {{session["user_name"]}}</h1>
    
    {% endif %}
    
    <!--ADD PHOTO-->
    
    <form
    action="{{url_for('views.createpost')}}"
    method="post"
    enctype="multipart/form-data"
  >
  {{ form.csrf_token }}
    
    {{form.post.label}}
    {{form.post( cols="30",
    rows="10",
    class="form-control")}}
    
  {{form.image.label}}
  {{form.image}}
    <div><button class="btn btn-primary">POST</button></div>
  </form>
    {% endblock %}