{% extends "base.html" %} {% block title %} Createpost {% endblock %} {% block
    content%} {% if "user_id" in session %}
    <h1>Hello {{session["user_id"]}}</h1>
    
    
    {% endif %} {% if "user_name" in session %}
    <h1>Hell {{session["user_name"]}}</h1>
    
    {% endif %}
    
    <form method="post"
    action="{{url_for('views.createpost')}}">
      <textarea
        name="note"
        id="note"
        cols="30"
        rows="10"
        class="form-control"
        placeholder="Here you can  write your notes"
      ></textarea>
    
      <br />
      <div><button class="btn btn-primary">ADDNOTE</button></div>
      <br />
    </form>
    
    <!--ADD PHOTO-->
    
    <form
      action="{{url_for('views.upload_img')}}"
      method="post"
      enctype="multipart/form-data"
    >
      <input name="pic" class="upload" type="file" />
      <label>caption..</label>
      <textarea
        name="caption"
        id="caption"
        cols="30"
        rows="10"
        class="form-control"
        placeholder="write Caption.."
      ></textarea>
    
      <div><button class="btn btn-primary">ADDPIC</button></div>
    </form>
    
    {% endblock %}