{% extends "base.html" %} {% block title %}Edit Admin {% endblock %} {% block
content%}

<div class="shadow-lg p-3 mb-5 bg-body rounded">

    <form  method="post" >
      {{form.csrf_token()}}
      
        <strong> Edit Your Profile</strong>
          <div class="form-group">

            {{form.email.label}}
            {{form.email( class="form-control",value= admin.email )}}
          </div>

        <div class="form-group">
          {{form.fullname.label}}
          {{form.fullname(class="form-control",value=admin.name)}}
         
        </div>        

        <div class="form-group">
          {{form.password1.label}}
          {{form.password1(class="form-control")}}
          </div>   
          <div class="form-group">
            {{form.password2.label}}
          {{form.password2(class="form-control")}}
          
          </div>     
        <br />
        {{form.submit(class="btn btn-primary")}}
      </form>





</div>
{% endblock %}
