{% extends "base.html"%}{%block title%}Edit User{%endblock%}

{%block content%}
<div class="shadow-lg p-3 mb-5 bg-body rounded">

    <form  method="post" >
        <strong> Edit Your Profile</strong>
        <div class="form-group">
          <label for="FullName">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="user_name"
            value="{{user.user_name}}"
            placeholder="Add your Name"
          />
        </div>

          <div class="form-group">
            <label for="Email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              value="{{user.email}}"
              placeholder="Add your Name"
            />
          </div>

        <div class="form-group">
          <label for="FullName">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            value="{{user.name}}"
            placeholder="Add your Name"
          />
        </div>
      
        <div class="form-group">
          <label for="Bio">Bio</label>
          <input
            type="text"
            class="form-control"
            id="Bio"
            name="bio"
            value="{{user.bio}}"
            placeholder="Add your Bio"
          />
        </div>

        <div class="form-group">
            <h1>Gender</h1>
          <legend>{{user.gender}}</legend>
          

          <div class="form-group">
            <fieldset>
              <legend>Gender</legend>
              {%if user.gender == 'Male'%}
              
              Male<input class="form-check-input mt-0" type="radio" name="gender" value="Male"checked> 
             
              Female<input class="form-check-input mt-0" type="radio" name="gender" value="Female"> 
              {%else%}
              Male<input class="form-check-input mt-0" type="radio" name="gender" value="Male"> 
             
              Female<input class="form-check-input mt-0" type="radio" name="gender" value="Female"checked> 
              {% endif %}
                                                           
            </fieldset>
              </div>

        
        <br />
        <button type="submit" class="btn btn-primary">Update</button>
      </form>





</div>


{%endblock%}