{% extends "base.html"%}{%block title%}Edit User{%endblock%}

{%block content%}
<div class="shadow-lg p-3 mb-5 bg-body rounded">

    <form  method="post" >
        <strong> Edit Your Profile</strong>
        {{form.csrf_token()}}
  
        <div class="form-group">
         {{form.email.label}}
      
          {{form.email(class="form-control",value=user.email)}}
        
        </div>
      
        <div class="form-group">
         {{form.username.label}}
         {{form.username(class="form-control",value=user.user_name)}}
        </div>

        <div class="form-group">
          {{form.fullname.label}}
         {{form.fullname( class="form-control",value=user.name)}}
        </div>

        <div class="form-group">
          {{form.bio.label}}
         {{form.bio( class="form-control",value=user.bio)}}
        </div>

        <div class="form-group">
          <fieldset >
            
            {{ form.gender.label ()}} {{ form.gender() }}                                                
          </fieldset>
            </div>
            {{form.submit( class="btn btn-primary")}}



         
            
      </form>





</div>


{%endblock%}