{% extends "base.html" %} {% block title %}Edit Post{% endblock %} {% block content %}
    {{post.id}}
    <form action="{{url_for('views.update_note',id=post.id)}}" method="post"
    action="{{url_for('views.createpost')}}">
    
    {{ form.csrf_token }}
    {{form.post.label}}
    {{form.post(cols="30",rows="10",class="form-control",placeholder="Here you can  write your notes" )}}

    
      <br />
      <div>{{form.submit(class="btn btn-primary")}}
      </div>
      <br />
    </form>
   
    
    

    
    {% endblock %}
    