{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content%}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/styles.css') }}"
/>


{%if current_user.admin != True%}

<form class="form1" method="post">
  {{ form.csrf_token }}
  <h3>Login</h3> 
  <div class="form-group">
    {{form.email.label(for="email")}}
    {{form.email( class="form-control", id="email"  )}}
  </div>

  <div class="form-group">
   
    {{form.password.label(for="password")}}
    {{form.password(class="form-control",id="password1")}}
  </div>
  {{ form.recaptcha }}
  <br />
  {{form.submit(class="login")}}
  

  <a class="singup_link" href="/new_password"> Forget password</a>
</form>
{%endif%}





{%if current_user.admin == True%}


<form class="form1" action="{{url_for('views.admin_login')}}" method="post">
  {{ form.csrf_token }}
  <h3>Login as Admin</h3> 
  <div class="form-group">
    {{form.email.label(for="email")}}
    {{form.email( class="form-control", id="email"  )}}
  </div>

  <div class="form-group">
   
    {{form.password.label(for="password")}}
    {{form.password(class="form-control",id="password1")}}
  </div>
 
  <br />
   <p>
                {% for error in form.recaptcha.errors %}
                    {{ error }}
                {% endfor %}
                {{ form.recaptcha }}
            </p>
  {{form.submit(class="login")}}
  

  <a class="singup_link" href="/new_password"> Forget password</a>
</form>

{%endif%}


{% endblock %}
