{% extends "base.html" %} {% block title %}Posts {% endblock %}
{% block content%}
<style>
  .profile_img{
    width: 25vh; 
  }
</style>

<div class="shadow p-3 mb-5 bg-body rounded">

  <ul class="list-group list-group-flush" id="notes">
    {% for note in notes %}
    <li class="list-group-item">
      
      <strong>User:{{note.poster.user_name}}</strong>
        
        <p> <b>Post:</b> 
          {{ note.data }}</p>
      {% if note.poster.id == session["user_id"] or session["user_id"] == 1%}
      <button type="button" class="btn-close" onClick="deleteNote ( {{ note.id }} )">
        <span aria-hidden="true">&times;</span>
      </button>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  </div>



  <div class="shadow p-3 mb-5 bg-body rounded">

    <ul class="list-group list-group-flush" id="notes">
      {% for image in images %}
      <li class="list-group-item">
        
        <strong>User:{{image.img_poster.user_name}}</strong>
          
          <p> <b>Post:</b> 
            <img src="{{url_for('static', filename='images/post/'+image.img_name)}}"   class="profile_img" alt="img error">
            <h1>caption:
              {{image.caption}}</h1>
          </p>
        {% if image.img_poster.id == session["user_id"] or session["user_id"] == 1%}
        <button type="button" class="close" onClick="deleteImg ( {{ image.id }} )">
          <span aria-hidden="true">&times;</span>
        </button>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    </div>



{% endblock %}