{% extends "base.html" %} {% block title %}SingUP {% endblock %}
{% block content%}

<form method="post">
  <h3 align="center"> Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter the email address" />
  </div>
  </div>
  <div class="form-group">
    <label for="first name">Name</label>
    <input type="text" class="form-control" id="first name" name="first name" placeholder="Enter the First Name" />

  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />

  </div>
  <div class="form-group">
    <label for="password2">Password(confirm)</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />


    <br>
    <button type="submit" class="btn btn-primary">submit </button>





</form>
{% endblock %}