{% extends "base.html" %} {% block title %}Verify {% endblock %} {% block
content%} {{msg}}


{% if 'passchg_otp' in session %}
<h1>passchg_otp</h1>
{{ session["passchg_otp"]}}
<form  method="post">
  <div class="form-group">
    {{form.hidden_tag()}}
    {{form.otp.label}}
    
    {{form.otp(class="form-control",placeholder="Enter OTP")}}
  </div>

  <br />
  {{form.repcaptcha}}
  {{form.submit(class="btn btn-primary")}}
  
</form>

{% else %}


<form action="{{url_for('auth.confirm')}}" method="POST">
  <h1>OOTp</h1>
  <div class="form-group">
    <div class="form-group">
      {{form.hidden_tag()}}
      {{form.otp.label}}
      
      {{form.otp(class="form-control",placeholder="Enter OTP")}}
    </div>
  
    <br />
    
    {{form.submit(class="btn btn-primary")}}

  <br />
  
</form>
{% endif %}
{% endblock %}
